build/
dist/
__pycache__/
**.pyc
*.egg-info/
.eggs/
.idea/
*.iml
*.out
*.zip
*.ptb
+.env
*.log
.~*.ipynb
*.swp

.ipynb_checkpoints/

.coverage
.coverage.*
coverage/

datalake/
corpora/
logs/

**/.~*.md

.vscode/

deps/daisy

htmlcov/

*.pickle
*.p

Pipfile
Pipfile.lock
